<div class="container-fluid">
    <div class="text-danger" ng-show="viewModel.errorMessage">{{ viewModel.errorMessage }}</div>
    <label class="text-center">Click an Employees Name to view more details.</label>
    <table id="employeeGrid" class="table table-responsive table-striped table-hover">
        <tr>
            <th class="col-md-1">
                <a ng-href="/" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                    Employee Id
                    <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-chevron-down"></span>
                    <span ng-show="sortType == 'id' && sortReverse" class="fa fa-chevron-up"></span>
                </a>
            </th>
            <th class="col-md-1">
                <a ng-href="/" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    Employee Name
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-chevron-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-chevron-up"></span>
                </a>
            </th>
            <th class="col-md-1"># Of Dependents</th>
            <th class="col-md-1">Pay After Deductions</th>
            <th class="col-md-1">Action</th>
        </tr>
        <tr ng-repeat="employee in viewModel.employees | orderBy:sortType:sortReverse">

            <td>{{ employee.employeeId }}</td>
            <td><a ng-href="/viewEmployeeDetails/{{ employee.employeeId }}">{{ employee.name }}</a></td>
            <td>{{ employee.dependents.length }}</td>
            <td>{{ employee.payAfterBenefits | currency }}</td>
            <td>
                <a ng-href="/addDependents/{{ employee.employeeId }}"><i class="fa fa-user-plus" title="Add Dependents"></i></a>
                <a ng-href="/editEmployee/{{ employee.employeeId }}"><i class="fa fa-pencil" title="Edit"></i></a>
                <a ng-href="/deleteEmployee/{{ employee.employeeId }}"><i class="fa fa-remove" title="Delete"></i></a>
            </td>
        </tr>
    </table>
    <wait-cursor id="imgWaitSpinner" ng-show="viewModel.isBusy"></wait-cursor>
    <h6 id="lblNoEmployees" ng-show="!viewModel.employees.length">You currently have no employees. You can pick some up at the fyrestone bounty board!....or just click the add button</h6>
    <a id="btnAddEmployee" ng-href="/addNewEmployee" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add Employee</a>
    <div id="legendCard">
        <div class="row" id="legendCardHeader">
            <label>Legend</label>
        </div>
        <div class="row">
            <i class="fa fa-user-plus" title="Add Dependents"></i><label> = Add Dependents</label>
        </div>
        <div class="row">
            <i class="fa fa-pencil" title="Edit"></i><label> = Edit Employee</label>
        </div>
        <div class="row">
            <i class="fa fa-remove" title="Delete"></i><label> = Delete Employee</label>
        </div>
    </div>
</div>